<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Sobre mí</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Hola me llamo Mohamed Ali y soy un chico proactivo y autodidacta. Me encanta aprender, siempre y cuando este en mis intereses. Desde pequeño me 
          apasionaba la electrónica y la electricidad. He cursado instalaciones eléctricas y automáticas.
        Actualmente estoy estudiando ciberseguridad. </p>
      </div>
      <div class="col-lg-4">
        <p>Hoy en dia soy programador de microcontroladores en placas arduino y esp. Tambien en plcs en tia portal.
        tengo como objetivo especializarme en la rama de programación y en mi otra pasión que es la ciberseguridad.</p>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        
        </a>
      </div>
    </div>
  </div>
</section>
